[submodule "home/.vim/bundle/vim-easytags"]
	path = home/.vim/bundle/vim-easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule "home/.vim/bundle/vim-misc"]
	path = home/.vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
